[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
booknlp = "1.0.8"
nltk = "3.9.1"
pandas = "2.2.3"
numpy = "1.26.4"
spacy = "3.4.4"

[dev-packages]

[requires]
python_version = "3.11"
